ReducedCPCFIncome_pharmacy_map.html
PermenantClosures_pharmacy_map.html
ReducedNHSincome_pharmacy_map.html
ReducedOpeningHours_pharmacy_map.html
PermanentClosures_pharmacy_map.html
ReducedDispensingFee_pharmacy_map.html
DSP_Sep24PL_map.html
LSOA_patients_nearestPharm_heatmap_2.html
LSOA_patients_nearestPharm_heatmap_files
heatmap_summary_table_2025-01-30.xlsx
heatmap_summary_table_2025-01-31.xlsx
heatmap_summary_table_2025-03-18.xlsx
